@tailwind base;
@tailwind components;
@tailwind utilities;



/*
select::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}


select::-webkit-scrollbar-thumb {
  border-radius: 10px;
 /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
*/


.price-up {
    animation: price-fade-up 0.2s 0s 1 ;
  }
  
  .price-down {
    animation: price-fade-down 0.2s 0s 1 ;
  }
  
  @keyframes price-fade-up {
  /* 0% { background-color: lightgreen; */
    /* 0% { background-color: yellow; */
      0% { background-color: lime;
/* color:lime; */
  }
100% { background-color: none; 
  /* color:lime; */

}
}

  
  @keyframes price-fade-down {
    /* 0% { background-color: lightcoral; */
        /* 0% { background-color: yellow; */
          0% { background-color: red;
          /* color:red; */

    }
  100% { background-color: none; 
    /* color:red; */
  
  }
  }
  
  @keyframes price-fade-yellow {
    0% { background-color: yellow;
  
    }
  100% { background-color: none; }
  }



.ratingAnimationYellow {
    animation: 0.5s 0s 1 fadeFromYellow;
}

.ratingAnimationWhite {
    animation: 0.5s 0s 1 fadeFromWhite;
}

.ratingAnimationToBlack {
    animation: 1.5s 0s 1 fadeToBlack;
}

@keyframes fadeInCenter {
    0% {
        opacity: 30%;
        transform: translateY(-40%);
        color:blue;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes fadeInCenterNoY {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes fadeFromYellow{
    0% { background-color: yellow;
        color:yellow;
    }
100% { background-color: none; 
    color:white;}
}

@keyframes fadeFromWhite{
    0% { background-color: white;

     }
100% { background-color: none; }
}

@keyframes fadeToBlack{
    0% { background-color: none;

     }
100% { background-color: black; }
}